#header{
  background-image: url(../img/backgrounds/landing.jpg);
}
#breakfast{
  background-image: url(../img/foodtop/breakfast.jpg);
}
#lunch{
  background-image: url(../img/foodtop/lunch.jpg);
}
#dinner{
  background-image: url(../img/foodtop/dinner.jpg);
}
