#header{
  background-image: url(../img/backgrounds/landing.jpg);
}
.happyhour{
  height: 105px;

}
.partytime{
  background-color:#F15A29;
  height: 105px;

}

#breakfast{
  background-image: url(../img/foodtop/breakfast.jpg);
  height:210px;

}
#lunch{
  background-image: url(../img/foodtop/lunch.jpg);
  height:210px;
}
#dinner{
  background-image: url(../img/foodtop/dinner.jpg);
  height:210px;
}
#fastfood{
  background-image: url(../img/backgrounds/foodsBg.jpg);
  height:210px;
}

#drink{
  text-align: right;
}
